div#game{
    width: 400px;
    height: 400px;
    /*border: 1px solid black;*/
    position: relative;
}

div.puzzlePiece{
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    border: 5px solid black;
    display: inline-block;
    text-align: center;
    position: absolute;
}

div.firstRowPiece{
    top: 0px;
}

div.secondRowPiece{
    top: 100px;
}

div.thirdRowPiece{
    top: 200px;
}

div.fourthRowPiece{
    top: 300px;
}


div.puzzlePiece{
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    border: 5px solid black;
}

div.firstColPiece{
    left: 0px;
}

div.secondColPiece{
    left: 100px;
}

div.thirdColPiece{
    left: 200px;
}

div.fourthColPiece{
    left: 300px;
}


